.button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  line-height: 26px;
  color: $basic-white;
  background-color: $basic-blue;
  text-transform: uppercase;
}

.button--plus,
.button--minus {
  background-color: transparent;
}

.button--plus:hover path,
.button--minus:hover rect {
  fill: #000000;
}

.button--plus:active path,
.button--minus:active rect {
  fill: #81B3D2;
}

.button--minus svg {
  display: block;
}

