.filter-hotel {
  background-image: url("source/img/background-catalog.jpg");
  line-height: 21px;
  color: $basic-white;
}

.filter-hotel__form {
  padding: 26px 0;
  display: flex;
  justify-content: space-around;
}

.filter-hotel__set {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-hotel__set legend {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

.filter-hotel__item {
  padding-left: 40px;
}

.filter-hotel__item:not(.filter-hotel__item:last-child) {
  margin-bottom: 25px;
}

.filter-hotel__item label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-hotel__input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  display: block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  background-image: url("source/img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-hotel__input-checkbox:checked+label::before {
  width: 27px;
  background-image: url("source/img/checkbox-on.svg");
}

.filter-hotel__input-checkbox:disabled + label::before {
  background-image: url("source/img/checkbox-dis-off.svg");
}

.filter-hotel__input-checkbox:disabled + .form-filter__label::before {
  background-image: url("source/img/checkbox-dis-on.svg");
}

.filter-hotel__set--range {
  margin-left: 394px;
  display: flex;
  flex-direction: column;
}
