.footer {
  height: 258px;
  margin-top: -258px;
}

.footer__hashtag {
  padding-top: 38px;
  padding-bottom: 33px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
}

.footer__social {
  padding-bottom: 40px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-link {
  background-color: $basic-blue;
  padding: 12px 12px 5px;
  margin: 3px;
  &:hover {
    background-color: #669EC0;
  }
  &:active {
    background-color: #5496BD;
  }
  &:active path {
    fill: #A9A9A9
  }
}

.footer__copyright {
  padding-bottom: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copy-link {
  margin-left: 10px;
  &:hover path {
    fill: #81B3D2;
  }
  &:active path {
    fill: #A9A9A9;
  }
}

@media (min-width: $tablet-width) {

  .footer {
    height: 120px;
    margin-top: -120px;
    padding: 36px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer__social {
    padding-bottom: 0;
  }

  .footer__copyright {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {

  .footer {
    max-width: 1200px;
    margin: -120px auto;
  }

}


/*.footer {
  background-color: $transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -120px auto;
  min-height: 120px;
  z-index: 10;
  width: 1200px;
}

.footer__hashtag {
  font-weight: 700;
  font-size: 21px;
}

.footer__social-list {
  display: flex;
}

.footer__social-link {
  background-color: $basic-blue;
  padding: 16px 16px 0;
  margin: 3px;
  &:hover {
    background-color: #669EC0;
  }
  &:active {
    background-color: #5496BD;
  }
  &:active path {
    fill: #A9A9A9
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
}

.footer__copy-link {
  margin-left: 10px;
  &:hover path {
    fill: #81B3D2;
  }
  &:active path {
    fill: #A9A9A9;
  }
}

*/
