.form-search {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 26px;
  width: 89%;
  padding: 20px 0;
  margin: 0 auto;
  background-color: $basic-white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  &--hide {
    animation: form-hide 0.5s forwards;
  }
  &--show {
    animation: form-show 0.5s forwards;
  }
  &--error {
    animation: shake 0.5s;
  }
}

@keyframes form-show {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes form-hide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
    box-shadow: none;
    transform-origin: top;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.form-search__row {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.form-search__age {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-search__label--date {
  display: none;
}

.form-search__text {
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
  width: 83%;
  max-width: 500px;
  margin: 0 auto;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding-left: 12px;
  text-transform: uppercase;
  &:hover {
    background-color: #ececec;
  }
  &:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    outline: none;
  }
}

.form-search__calendar {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  &:hover path {
    fill: #000000;
  }
  &:active path {
    fill: #81B3D2;
  }
}

.form-search__number {
  font-weight: 700;
  text-align: center;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  &:hover {
    background-color: #ececec;
  }
  &:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    outline: none;
  }
}

.form-search__submit {
  width: 89%;
  padding: 12px 0;
  margin: 0 auto;
  background-color: $basic-blue;
  font-weight: 700;
  color: $basic-white;
  font-size: 21px;
  text-transform: uppercase;
  &:hover {
    background-color: #669fc1;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5397be;
  }
}




/*.form-search {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 26px;
  width: 458px;
  padding: 55px;
  margin: 0 auto;
  background-color: $basic-white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  &--hide {
    animation: form-hide 0.5s forwards;
  }
  &--show {
    animation: form-show 0.5s forwards;
  }
  &--error {
    animation: shake 0.5s;
  }
}

@keyframes form-show {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes form-hide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
    box-shadow: none;
    transform-origin: top;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.form-search__row {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-search__age {
  width: 50%;
  display: flex;
  align-items: center;
}

.form-search__label {
  margin-right: auto;
  &--children {
    margin-left: 53px;
  }
}

.form-search__text {
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
  width: 346px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding-left: 12px;
  text-transform: uppercase;
  &:hover {
    background-color: #ececec;
  }
  &:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    outline: none;
  }
}

.form-search__calendar {
  position: absolute;
  right: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  &:hover path {
    fill: #000000;
  }
  &:active path {
    fill: #81B3D2;
  }
}

.form-search__number {
  font-weight: 700;
  text-align: center;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  &:hover {
    background-color: #ececec;
  }
  &:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    outline: none;
  }
}

.form-search__submit {
  width: 458px;
  padding: 16px 182px;
  background-color: $basic-blue;
  font-weight: 700;
  color: $basic-white;
  font-size: 21px;
  text-transform: uppercase;
  &:hover {
    background-color: #669fc1;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5397be;
  }
}
*/
