@media (max-width: $mobile-width-only) {

  .main-picture,
  .inner-picture {
  background: url("../img/back-mobile-1x.jpg") center top no-repeat;
  position: relative;

  &::before, &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 50%;
    height: 33px;
    box-sizing: inherit;
  }

  &::before {
    right: 0;
    background: linear-gradient(to top left, #fff 49.6%, transparent 50.4%);
  }

  &::after {
    left: 0;
    background: linear-gradient(to top right, #fff 49.6%, transparent 50.4%);
  }
}
}

.main-picture img {
  padding: 88px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-picture {
    background: url("../img/img.png") center top no-repeat;
    position: relative;
  }
  .main-picture img {
    width: 460px;
    height:350px;
    padding: 77px 0;
  }
}




@media (min-width: $desktop-width) {


}
