.modal{
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  min-height: 280px;
}

.modal--show {
  display: flex;
}

.review-form__input--field-error {
  background-color: red;
}
