.promo {
  text-align: center;
  margin: 32px 0;
  padding: 0 6.25%;
}

.promo p:first-child {
  margin-bottom: 35px;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  padding: 0 10px;
}

.promo br {
  display: none;
}

@media (min-width: 597px) {
  .promo br {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    margin: 47px 0 55px;
  }

  .promo p:first-child {
    font-size: 21px;
    padding: 0;
  }
}



/*
.promo {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 51px;
}

.promo p:first-child {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
*/
