.search-hotel {
  text-align: center;
}

.search-hotel__text {
  padding: 0 20px;
  margin: 38px 0 32px;
}

.search-hotel__heading {
  line-height: 26px;
  margin-bottom: 25px;
}

.search-hotel__text br {
  display: none;
}

.search-hotel__wrapper {
  position: relative;
  overflow: hidden;
}
/*поправить*/
.search-hotel__map {
  height: 350px;
  background-color: #81b3d2;
  background-image: url("../img/map.png");
}

.search-hotel__button {
  position: relative;
  padding: 16px 0;
  width: 89%;
  max-width: 450px;
  font-size: 21px;
  z-index: 2;
  overflow: hidden;
  &:hover {
    background-color: #669EC0;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496BD;
  }
}

@media (min-width: 553px) {
  .search-hotel__text br {
    display: block;
  }
}

@media (min-width: $tablet-width) {

  .search-hotel__heading {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .search-hotel__button {
    max-width: 600px;
  }
}



/*.search-hotel {
  margin-top: 60px;
  text-align: center;
}

.search-hotel__heading {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 23px;
}

.search-hotel__text {
  line-height: 24px;
  margin-bottom: 48px;
  color: #333333;
}

.search-hotel__wrapper {
  position: relative;
  overflow: hidden;
}

.search-hotel__map {
  height: 593px;
  background-color: #81b3d2;
  background-image: url("../img/map.png");
}

.search-hotel__button {
  position: relative;
  padding: 30px;
  width: 568px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $korich;
  z-index: 2;
  overflow: hidden;
  &:hover {
    background-color: $korich-hover;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $korich-active;
  }
}
*/
