.container {
  width: 88%;
  margin: 0 auto;
  max-width: 767px;
  @media (min-width: $tablet-width) {
      width: 768px;
    }
  @media (min-width: $tablet-width) {
      width: 768px;
    }
  @media (min-width: $desktop-width) {
    width: 1200px;
    }
}





