
  $basic-blue: #81B3D2;
  $basic-white: #FFFFFF;
  $basic-bage: #EEEEEE;
  $logo-blue: #81B3D3;
  $korich: #766357;
  $korich-hover: #604d41;
  $korich-active: #503E33;
  $basic-black: #000000;
  $light-black: #333333;
  $transparent: rgba(255, 255, 255, 0.9);


  $tablet-width: 768px;
  $desktop-width: 1200px;
  $mobile-width-only: 767px;


  $height-mobile-bg: 302px;
  $height-tablet-bg: 170px;
  $height-desktop-bg: 696px;
  $height-tablet-card-bg: 81px;
